@font-face {
    font-family: 'DINPro';
    src: url('./fonts/dinpro.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('./fonts/dinpro_black.otf') format("opentype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'DINPro';
    src: url('./fonts/dinpro_italic.otf') format("opentype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('./fonts/dinpro_bolditalic.otf') format("opentype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'DINPro';
    src: url('./fonts/dinpro_medium.otf') format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'DINPro';
    src: url('./fonts/dinpro_mediumitalic.otf') format("opentype");
    font-style: italic;
    font-weight: 500;
}